body {
    background: url(../../../assets/images/main_background.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
};

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left_side {
    width: 33%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: -65%; bottom: 0; right: 0;
    text-align: left;
}

.right_side {
    width: 28%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: -70%;
    text-align: left;
    background-image: url('../../../assets/images/bg_list.jpg');
    border-radius: 10%;
}

.results_table {
    font-size: 12px;
    margin-left: 25px;
    padding-top: 15px;
}

.header_text {
    font-size: 30px;
    color: brown;
}

.answer_number, .rounds_number {
    color: brown;
}

.input_form {
    font-size: 12px;
    border-radius: 20%;
    font-family: 'Press Start 2P', cursive;
    height: 35px;
    text-align: center;
}

.text_number {
    display: block;
    margin-top: 10px;
}

.button_form {
    font-size: 10px;
    border-radius: 20%;
    font-family: 'Press Start 2P', cursive;
    height: 30px;
}

.color_changer:hover {
    background-color: brown;
    color: white;
}